/* ----------------------------------sections----------------------------- */

.coloured-section{
  background-color: rgb(207, 25, 91);
  color: rgb(128, 31, 66);
}

.white-section{
  background-color: whitesmoke;
}

/*-------------------------------- titlesection--------------------------- */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#title{
  text-align: left;
}

.container-fluid {
  /* the format for below padding is top leftandright bottom */
  padding: 15px 15% 0;
}

.download-button {
  margin: 8px;
  margin-left: 0;
}

.title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 30px;
}

h3{
  font-weight: bold;
}

.iphoneimage {
  transform: rotate(25deg);
  position: relative;
  top: 160px;
  left: 60px;
  width: 60%;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding-right: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: x-large;
  font-weight: lighter;
}

/* -----------------------------feature-section------------------------- */

.column-features{
  padding: 4% ;
}

#features{
  padding: 7%;
  position: relative;
  z-index: 1;
}

.feature-icons{
  color:rgb(207, 25, 91);
  margin-bottom: 15px;
 }

.feature-icons:hover{
  color: rgb(134, 8, 54);
}

.feature-description{
  color: rgb(145, 137, 137);
}

/* ----------------------------testimonals and press section---------------------- */

.carousel-item{
  padding: 7% 15%;
}

#press{
  padding-bottom: 30px;
}

.press-images{
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
}

/* -----------------------------pricing section------------------------ */

.col{
  padding: 0px 15px;
}

#pricing{
  padding: 6% 10%; 
  /* using whitesmoke so that much less strain for the eye  */
}

.pricing-cards{
  padding-top: 50px;
}

.pricing-heading{
  margin-bottom: 5px;
}

/* ------------------------------footer section------------------------------- */

#cta{
  padding-top: 30px;
  padding-bottom: 120px;
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 15px;
}

.footersection{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  padding: 7% 20% 10px; 
}

#footer{
  padding: 80px 0 50px;
  color: gray;
}

.footer-icon:hover{
color:rgb(207, 25, 91);
}

.footer-link:link{
color: gray;
}

.footer-link:visited{
color: gray;
}

/* ---------------------------------media queries----------------------------- */

@media  (max-width: 1176px)
{

h1{
  margin-bottom: 30px;
}

.iphoneimage {
  transform: rotate(0deg);
  position: static;
  top: 160px;
  left: 10px;
  width: 60%;
}

.download-button {
  margin: 8px;
  margin-left: 5px;
}

.footer-icon{
  margin: 0 25px;
}

.press-images{
  width: 35%;
  margin: 15px;
padding-top: 10px;
}

#title{
  text-align: center;
}

}